@* @using VehicleInsurance.Models;
@model Expense
@{
    Layout = "../Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <h4>ExpenseDate : @Model.ExpenseDate.ToShortDateString()</h4>
                </div>
                <div class="card-body">
                     <p><strong>Type:</strong> @Model.ExpenseType</p>
                     <p><strong>Amount:</strong> @Model.Amount</p>
                     <p>
                        <a href="@Url.Action("Index","Expense")" class="btn btn-primary">Back to List</a>
                     </p>
                </div>
            </div>
        </div>
    </div>
</div>

 *@

@using VehicleInsurance.Models
@model Expense

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "Expense Details";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Expense Details</h4>
                    <table class="table table-striped">
                        <tr>
                            <th>Expense ID</th>
                            <td>@Model.ExpenseID</td>
                        </tr>
                        <tr>
                            <th>Expense Date</th>
                            <td>@Model.ExpenseDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <th>Expense Type</th>
                            <td>@Model.ExpenseType</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td>@Model.Amount</td>
                        </tr>
                    </table>
                    <div class="mt-3">
                        <a href="@Url.Action("Index", "Expense")" class="btn btn-light">Back to List</a>
                        <a href="@Url.Action("Edit", "Expense", new { id = Model.ExpenseID })" class="btn btn-info">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
